
.navbar img{
    width: 75px;
    height: 75px;
}

.form{
    margin-top: 2rem;
    background-color: white;
    border-radius: 15px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.body{
    background-image: linear-gradient(to right, rgba(75, 87, 250, 0.5), rgb(44, 95, 236));
}

#calc{
    margin-top: 12rem;
    text-align: end;
    width: 100%;
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
    padding-right: 5px;
}

.font{
    font-family: 'Courier New', Courier, monospace;
}

.calcbutton{
    background-color: #FF9500!important;
    border-radius: 100%!important;
}

.calcbuttonnum{
    background-color: #505050!important;
    border-radius: 100%!important;
    color: white!important;
}

.td{
    margin: 0;
}

#zero{
    border-radius: 55px!important;
    width: 100%;
}

.calcbuttonsp{
    background-color: #d4d4d2!important;
    border-radius: 100%!important;
    color: black!important;
    font-weight: bold!important;
}

.calcbuttonspm{
    background-color: #d4d4d2!important;
    border-radius: 100%!important;
    color: black!important;
    font-weight: bold!important;
    font-size: 0.8rem!important;
    width: 73%;
}

.cont{
    width: 30%;
}